<div class="modal-header">
    <h2>Eliminar Persona</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <div>
        <p>¿Está seguro que desea eliminar la persona?</p>
        <ul>
            <li><strong>{{person.name}}</strong></li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()">Eliminar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">Cancelar</button>
</div>